@import url("https://use.typekit.net/ftw1gzb.js");

h1{
	text align: center;
	font-family: canada-type-gibson, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 120px;
}

p {
	text align: center;
	font-family: canada-type-gibson, sans-serif;
	font-style: normal;
	font-weight: 600;
}


body {
    background-image: url("portfolio_bg.png");
    background-color: #cccccc;
}



Code from Typekit

<script src="https://use.typekit.net/ftw1gzb.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<script>
  (function(d) {
    var config = {
      kitId: 'ftw1gzb',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>